*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #083B4C;    
}

h1{
    color: white;
    text-align: center;
    padding: 50px;
}

.container{
    padding: 50px;
    margin: auto;
}

#grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;

}

#grid .square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    
}

.square.fizzbuzz{
    background-color: #F0466F;
}

.square.fizz{
    background-color: #0CD6A1;
}

.square.buzz{
    background-color: #FFD166;
}

.square.norm{
    background-color: #1389B2;
}